body {
  font-family: "Lato", sans-serif;
  font-size: 13px;
}

.search-div {
  width: 180px;
  position: relative;
}
.counties {
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  cursor: pointer;
}

.state-borders > path {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

path.hover {
  stroke: #000000;
  stroke-width: 2px;
}

path.selected {
  stroke: #000000;
  stroke-width: 2px;
}
.background {
  fill: none;
  pointer-events: all;
}
table {
  width: 100%;
}

.left-table table {
    border-collapse: collapse;
    text-align: left;
}

table td:first-child {
  width: 28.3%;
}
.left-table table td, .left-table table th {
    padding: 3px 10px;
}

.left-table table thead th {
    background: 0;
/*    background-color: #006D2C;
*/    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border-left: 1px solid #0070A8;
}

/*.left-table table thead th:first-child {
    border: none;
}*/

.left-table table tbody td {
    color: #00496B;
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: 400;
}

.left-table tbody {
  border-bottom: 1px solid #E1EEF4;
  cursor: pointer;
}
.group.selected, .group.selected td {
    background-color: #069;
    color: white;
}


.left-table table tbody td:first-child {
    border-left: none;
}

.left-table table tbody tr:last-child td {
    border-bottom: none;
}

.left-table tbody:hover {
    background-color: #069;
    color: white;
}
.left-table tbody:hover td {
    background-color: #069;
    color: white;
}
