body {
  font-family: "Lato", sans-serif;
  font-size: 13px;
}

hr {
  height: 0px;
  background-color: #d2d2d2;
  border: none;
}



path.domain {
  stroke: none;
}
.note-table {
  font-size: 11px;
  font-style: normal !important;
}
#ui-id-2 > .ui-menu-item{
  border: solid 1px #f1f1f1 !important;
  background-color: #fff !important;
}
.ui-menu-item-wrapper {
  padding: 25px 15px !important;
  text-align: left !important;

}
p.note1, p.note2 {
  display: none;
}
.ui-state-default .ui-icon {
    background-image: url(../img/close-sign.png) !important;
    background-size: 10px;
}
.ui-icon-close {
  background-position: 3px 6px !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover{ 
  color: #000 !important;
  font-size: 14px !important;
  background: #f1f1f1 !important;
  border: solid 1px #d2d2d2 !important;
  font-weight: normal !important;
}
#notes-div {
  margin-top: 10px;
}
#notes {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;
  font-style: italic;
  margin-bottom: 19px;

}
.intro-wrap {
    height: auto;
    padding: 10px 30px 10px 30px;
    z-index: 20000;
    width: 57.5%;
    background-color: rgba(0,0,0,0.5);
}

#bar-chart-mobile {
  display: none;
  float: left;
  margin: 20px 30px;
}

#topic {
  height: 22px;
  font-family: Lato;
  font-size: 18px;
  text-align: left;
  color: #000000;
  margin-bottom: 24px;
}
/*.tagit.ui-widget.ui-widget-content.ui-corner-all {
  width: 221px !important;
}*/
a {
    text-decoration: none;
    color: #1896d2;
}
.appendixButton {
  margin-left: 15px !important;
}
.footerButton {
    float: left;
    width: 115px;
    border: 1px solid #333;
    cursor: pointer;
    font: 13px Lato;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-decoration: none !important;
    color: #333 !important;
    margin: 14px 0;
}
.title {
  margin-top: 25px;
  height: 22px;
  font-family: Lato;
  font-size: 18px;
  text-align: left;
  color: #000000;
}
.credit-list {
    font-size: 14px;
}
.credit-names{
    margin-bottom: 20px;
    margin-top: 5px;
}
.bottom-text {
  clear: both;
  font-size: 14px;
  color: #231f20;
  padding-right: 25px;
}
h1.bottom-header{
  font-size: 34px;
  color: #231f20;
}
.bottom-section {
    float: left;
    width: 50%;
}
.bottom-content {
  float: left;
  width: auto;
  padding: 60px 80px;
  background-color: #f3f3f3;
  border-top: 1px solid #d2d2d2;

}

.description {
  opacity: 0.5;
  font-family: Lato;
  font-size: 14px;
  text-align: left;
  color: #000000;
}

table.main-table {
  width: 100%;

}
td.td-table {
  vertical-align: top;
}
td.td-map {
  background-color: #f3f3f3;
/*  width: 70%;
*/  vertical-align: top;
}
table {
  max-height: 480px !important;
  border-collapse: collapse;
  border: 0;
}
#isMobile {
  display: none;
}
#isPhone{
  display: none;
}
.group-label-2 {
  fill: #000;
  font-size: 14px;
  height: 17px;
  font-weight: 600;
}
.banner-wrapper {
  width: 100%;
}
#intro-text {
  margin: 0 auto;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 0px 50px 47px;
}
h1 {
  color: #fff;

}
h2 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
}
.banner {
  background-image: url(../img/banner-image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  margin-top: 52px;
  background-color: #000;
}
.g-text {
  font-size: 11px;
}
.data-label {
  font-size: 12px;
}
.legend-labels {
  font-size: 12px;
}
#legend {
  float: right;
  width: 0px;
}

.zoomBtn {
  opacity: .8;
  cursor: pointer;
}
.zoomBtn:hover {
  opacity: 1;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: "Lato", sans-serif !important;
  font-size: 14px !important;
}

#map {
  float: left;
  margin-bottom: 15px;
}
.map-div {
  margin: 30px 31px 30px 55px
}
.search-div-main {
  background-color: #f5f5f5;
/*  height: 60px;
*/  margin-top: 30px;
  max-width: 292px;
  width: 88.5%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 14px;

}
.td-map, .td-table {
  padding: 0;
  margin: 0;
}
.ui-widget > label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ui-widget {
  font-family: "Lato", sans-serif !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: #000 !important;
}
.ui-widget.ui-widget-content {
  border: 0px !important;
  background-color: #ffffff !important;
}
.tagit.ui-widget.ui-widget-content.ui-corner-all {
  background-color: #f5f5f5 !important;
}
.tagit-label {
  font-weight: normal !important;
  font-size: 14px !important;
}
ul.tagit li.tagit-new {
  padding-left: 10px !important;
}
ul.tagit {
  padding-left: 11px !important;
  overflow: hidden !important;
}
ul.tagit li.tagit-choice-editable {
/*  margin-right: 100px !important;
*/}

.ui-widget > label {
  font-family: "Lato";
  width: 20px;
  height: 15px;
  opacity: 0.5;
  font-size: 12px;
  text-align: left;
  color: #000000;
  padding-left: 21px;
}
.ui-widget-content {
  background: #f5f5f5 !important;
  width: inherit;
}

.ui-autocomplete a.ui-corner-all.sbiAnchor:hover{
    background: blue;
}
#tags {
  background-color: #f5f5f5;
}



.group.selected {
  max-height: 82px !important;
}
tr.cell-column {
  height: 25px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.6px;
}

path.hoverNational {
  stroke-width: 4px !important;
}

path.hide {
  fill: #000 !important;
  opacity: 0.3 !important;
  stroke-width: 1px !important;
}
#location {
  font-size: 18px;
  font-weight: 600;
  height: 39px;
  text-transform: uppercase;
}

.tick > line {
  stroke: none;
}

.search-div {
  position: relative;
  padding: 14px 0px

}
.image-div {
  display: inline-block;
  float: right;
  height: 100%;
}
.image-div img {
  margin-top: 19.5px;
  padding-right: 21.5px;
  width: 17.5px;
  height: 17.5px;
  cursor: pointer;
  pointer-events: all;
}
.counties {
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  cursor: pointer;
}

.state-borders > path {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  cursor: pointer;

}

path.hover {
  stroke: #fdbf11;
  stroke-width: 1.3px;
}

path.selected {
  stroke: #fdbf11;
  stroke-width: 1.3px;
}
.background {
  fill: none;
  pointer-events: all;
}

.group-4 > .cell-data > td:nth-child(2), .group-4 .cell-data > td:nth-child(3) {
  opacity: 0;
}
.group-4 > .cell-column > td:nth-child(2), .group-4 .cell-column > td:nth-child(3) {
  opacity: 0;
}
.left-table2 {
  float: left;
  width: 5px;
}
.pseudo-td {
  width: 1px;
}
table {
  margin-top: 0px;
}
.left-table {
  max-width: 328px;
}
.left-table > table {
  margin-top: 20px;
}

.left-table table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.td-table {
  max-width: 328px !important;
  width: 27.5%;
}
.left-table table th {
    padding: 14px 19px 6px 19px;
}
.left-table tbody.selected {
    border-right: 5px solid #fdbf11;
    border-collapse: separate;
    border-spacing: 4px; 

}
.left-table > tbody:hover {
    border-right: 5px solid #fdbf11;
}
.left-table > tbody.selected > tr {
    border-right: 5px solid #fdbf11;
}
.cell-data > td {
   /* width: 24px;*/
}

.cell-data > td:nth-child(2), .cell-column > td:nth-child(2){
  padding: 0 10px;
}
.cell-data > td:nth-child(1), .cell-column > td:nth-child(1){
  padding-left: 19px;
}
.cell-data > td:nth-child(3), .cell-column > td:nth-child(3){
  padding-right: 19px;
}

th {
  font-family: Lato;
  font-size: 12px;
  text-align: left;
  font-weight: 400;
}
.left-table table thead th {
    background: 0;
/*    background-color: #006D2C;
*/    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border-left: 1px solid #0070A8;
}

/*.left-table table thead th:first-child {
    border: none;
}*/

.left-table tr.cell-data {
    color: #000000;
    height: 24px;
/*    border-left: 1px solid #E1EEF4;
*/   font-size: 16px;
    font-weight: 600;
}
.left-table table tbody .cell-data > td {
   font-size: 16px;
   width: 84px;
   vertical-align: unset;
}


.left-table tbody {
  border-bottom: 1.1px solid #ececec;
  cursor: pointer;
  border-right: 5px solid #fff;
/*  width: 288px;
*/}
.group.selected, .group.selected td {
  background-color: #000;
  color: #fff;
}

/*tbody.group.selected:hover >  *{
  background-color: #000 !important;
}*/


.group.selected > .cell-data > td  {
    color: #fdbf11;

}


.left-table table tbody td:first-child {
    border-left: none;
    border-left-color: none;
}

.left-table table tbody tr:last-child td {
    border-bottom: none;
    padding-bottom: 14px;
}

.left-table tbody:hover {
    background-color: #696969 !important;
    color: white;
    border-right: 5px solid #fdbf11;

}
.left-table tbody:hover td {
    background-color: #696969 !important;
    color: white;

}

.left-table tbody:hover .cell-data > td {
    background-color: #696969 !important;
    color: #fdbf11;

}

#intro-mobile {
  display: none;
  margin: 70px 30px 30px 30px;

}
#dropdown-div {
  display: none;
}

/**DROPDOWN **/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none !important;
  background: #fff !important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: none !important;
  background: #fff !important;
  font-weight: normal;
  color: #2b2b2b;
}
.ui-selectmenu-button.ui-button {
  width: 65% !important;
  float: right;
}

.dropdown-label {
  float: left;
  font-size: 18px;
}

.ui-selectmenu-text {
  font-size: 16px !important;
}

.dropdown-label.disabled {
  color: grey;
}


@media (min-width : 1201px) {
  table.main-table {
    width: 100%;
    }

  td.map {
    width: 870px !important;
  }
  td.td-table {
    width: 330px !important;
  }

}

@media (max-width: 900px) {
.left-table table tbody .cell-data > td {
  font-size: 14px;
}
.cell-data > td:nth-child(1), .cell-column > td:nth-child(1) {
  padding-left: 15px;
}
.cell-data > td:nth-child(3), .cell-column > td:nth-child(3) {
  padding-right: 10px;
}
  .td-table {
      width: 25%;
  }
  #isMobile {
    display: block;
  }
  .map-div {
    margin: 30px 0px 30px 0px;
  }
}

@media (max-width: 700px) {
  #isPhone {
    display: block;
  }
  #bar-chart-mobile {
    display: block;
  }
  .y.axis > .tick {
    display: none;
  }
  .dropdown {
    width: 100%;
    float: left;
    padding: 20px 0;
    border-top: 1px solid grey;
    cursor: pointer;
    pointer-events: all;
  }

  .category-menu {
    border-bottom: 1px solid grey;

  }

  #dropdown-div {
    display: block;
    float: left;
    margin: 0 30px;
  }
  .main-table {
    display: none;
  }
  #intro-mobile {
    display: block;
    float: left;
  }
}