#dropdown-header {
  display: none;
}


body {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  background-color: #f3f3f3;
}

hr {
  height: 0px;
  background-color: #d2d2d2;
  border: none;
}
.dagger {
  vertical-align: super;    
  font-style: normal;
}
.legend-title {
  font-weight: bold;
  font-size: 15px;
}
.large {
  font-size: 16px;
}

.annotation {
  font-style: italic;
}
#date {
  font-style: normal;
  font-size: 14px;
  color: #fff;
}
path.domain {
  stroke: none;
}
.note-table {
  font-size: 11px;
  font-style: normal !important;
}
#ui-id-2 > .ui-menu-item{
  border: solid 1px #f1f1f1 !important;
  background-color: #fff !important;
}
.ui-menu-item-wrapper {
  padding: 25px 15px !important;
  text-align: left !important;
  font-size: 14px !important;

}
#mobile-content {
  background-color: #f3f3f3;
  width: 100%;
  float: left;
  border-bottom: 1px solid #d2d2d2;
}
p.note1, p.note2, p.note3, p.note4 {
  opacity:1;
  font-size: 11px;
}

td sup {
  font-size: 10px;
}

text tspan {
 font-size: 10px; 
}

.highlightChange{
  font-weight: bold;
  color: #00ff00;
}
.ui-state-default .ui-icon {
    background-image: url(../img/close-sign2.png) !important;
    background-size: 10px;
}
.ui-icon-close {
  background-position: 0px 0px !important;
}
.ui-icon {
  margin-top: 3px !important;
  width: 10px !important;
  height: 10px !important;
  margin-right: 4px !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover{ 
  color: #000 !important;
  font-size: 14px !important;
  background: #f1f1f1 !important;
  border: solid 1px #d2d2d2 !important;
  font-weight: normal !important;
}
#notes-div {
  margin-top: 10px;
}
input[placeholder] { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; } /* firefox 19+ */
input:-moz-placeholder { text-overflow: ellipsis; }
#notes {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 11px;
  font-style: italic;
  margin-bottom: 19px;

}
.ui-menu .ui-menu-item {
  border-bottom: 1px solid #d2d2d2;
}
.intro-wrap {
    height: auto;
    z-index: 20000;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
}
.select-table {
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  width: 88.5%;
}

#bar-chart-mobile {
  display: none;

}
#bar-chart {
  width: 100%;
}
#topic {
  height: 22px;
  font-family: Lato;
  font-size: 18px;
  text-align: left;
  color: #000000;
  margin-bottom: 24px;
}
/*.tagit.ui-widget.ui-widget-content.ui-corner-all {
  width: 221px !important;
}*/
a {
    text-decoration: none;
    color: #1696d2;
    cursor: pointer;
}
a:hover {
  color: #000;
}

.footerButton {
    height: 20;
    float: left;
    width: 115px;
    border: 1px solid #333;
    cursor: pointer;
    font: 13px Lato;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-decoration: none !important;
    color: #333 !important;
    margin: 14px 0;
    line-height: 20px;
    margin-right: 15px;
}

.appendixButton {
  margin-right: 0px;
}

.footerButton:hover {
  background-color: #000;
  color: #fff !important;
}
.title {
  margin-top: 25px;
  height: 22px;
  font-family: Lato;
  font-size: 18px;
  text-align: left;
  color: #000000;
}
.credit-list {
    font-size: 14px;
}
.credit-header {
  font-size: 16px;
  font-weight: bold !important;
}
.credit-names{
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 16px;
}
.credits-text.bottom-text{
  font-size: 14px;
    margin-bottom: 45px;

   line-height: 22px !important;
}
.bottom-text {
  clear: both;
  font-size: 16px;
  color: #231f20;
  line-height: 26px;
}
h1.bottom-header{
  font-size: 34px;
  color: #000;
  margin-top: 50px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
#copyright{
    margin-bottom: 100px;
    display: inline-block;
    font-style: italic;
}


.bottom-section {

}
.bottom-container {
  background-color: #ececec;
  border-top: 1px solid rgb(173, 171, 172);
}

.bottom-content {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 44px;

}

.description {
  opacity: 0.5;
  font-family: Lato;
  font-size: 14px;
  text-align: left;
  color: #000000;
}

table.main-table {
  width: 100%;
  margin-top: 30px !important;

}
td.td-table {
  vertical-align: top;
  background-color: #fff;
}
td.td-map {
  background-color: #f3f3f3;
  box-shadow: inset 2px -3px 9px -6px;
 vertical-align: top;
}
table {
  max-height: 480px !important;
  border-collapse: collapse;
  border: 0;
}
#isMobile {
  display: none;
}
#isPhone{
  display: none;
}
#isPhoneSm {
  display: none;
}
.group-label-2 {
  fill: #000;
  font-size: 14px;
  height: 17px;
}
.banner-wrapper {
  width: 100%;
}
#intro-text {
  background-color: rgba(17, 46, 59, 0.8);
  padding: 42px;
  padding-bottom: 85px;
}
h1 {
  font-size: 36px;
  color: #fff;
  letter-spacing: .5px;
  font-style: normal !important;
}
h2 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
}
.banner {
  background-image: url(../img/banner-image3.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  margin-top: 52px;
}


.current-menu {
  width: 100% !important;
  max-width: 1200px !important;
  background-color: #fff;
  height: 60px;
  margin-right: 20px;
  margin: 0 auto;
  margin-top: -30px;
  box-shadow: 1px 2px 9px -3px;
}

.current-menu .dropdown-label {
  padding-left: 20px;
  padding-top: 20px;
}

#dropdown-header-button {
  border-radius: 0px;
  width: calc(100% - 165px) !important;
  float: right;
  color: rgb(35,151,208);
  text-transform: uppercase;
}

#dropdown-header-button .ui-selectmenu-text {
  padding-top: 15px;
  padding-bottom: 16px;
}

#dropdown-header-button:focus {
  outline: none !important;
}

.ui-menu-item-wrapper:hover {
  background-color: #000 !important;
  color: #fff !important;
}

.ui-icon {
  padding-right: 20px;  
}

.ui-icon-close {
  padding-right: 0px;
}

#dropdown-header-button > span.ui-selectmenu-icon.ui-icon.ui-icon-triangle-1-s {
  margin-top: 25.5px !important;
  height: 12px !important;
}

.ui-button .ui-icon {
  background-image: url("../img/arrow.png") !important;
  background-size: 16px !important;
  
}
.ui-button .ui-icon.greyed {
  background-image: url("../img/arrow-grey.png") !important;
  background-size: 16px !important;
}
.ui-button .ui-icon.arrow-up {
  background-image: url("../img/arrow-up.png") !important;
  background-size: 16px !important;
}

.g-text, .g-text-ph {
  font-size: 12px;
}
.data-label, .data-label-ph {
  font-size: 12px;
}
.data-label{
  display: block;
}
.data-label-ph{
  display: none;
}
.legend-labels{
  font-size: 14px;
}
.legend-labels-ph  {
  font-size: 12px;
}
#legend {
  float: right;
  width: 0px;
}

.zoomBtn {
  opacity: .8;
  cursor: pointer;
  display: none;
}
.zoomBtn:hover {
  opacity: 1;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: "Lato", sans-serif !important;
  font-size: 14px !important;
}

#map {
  float: left;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 100%;
}
.map-div {
  margin: -5px 0px 30px 55px;
  position: relative;

}
.search-div-main {
  background-color: #f5f5f5;
/*  height: 60px;
*/  margin-top: 20px;
  max-width: 292px;
  width: 88.5%;
  margin-left: auto;
  margin-right: auto;
  /*padding-bottom: 15px;*/

}
.td-map, .td-table {
  padding: 0;
  margin: 0;
}
.ui-widget > label {
  margin-top: 10px;
  margin-bottom: 10px;
}
.label {
  margin-bottom: 18px;
}
.ui-widget {
  font-family: "Lato", sans-serif !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  color: #000 !important;
}
.ui-widget.ui-widget-content {
  border: 0px !important;
  background-color: #ffffff !important;
}
.tagit.ui-widget.ui-widget-content.ui-corner-all {
  background-color: #f5f5f5 !important;
}
.tagit-label {
  font-weight: normal !important;
  font-size: 14px !important;
}
ul.tagit li.tagit-new {
  padding-left: 10px !important;
  width: 170px !important;
}
ul.tagit {
  padding-left: 11px !important;
  overflow: hidden !important;
}
ul.tagit li.tagit-choice-editable {
/*  margin-right: 100px !important;
*/}

.ui-widget > label {
  font-family: "Lato";
  width: 20px;
  height: 15px;
  opacity: 0.5;
  font-size: 12px;
  text-align: left;
  color: #000000;
  padding-left: 20px;
}
.ui-widget-content {
  background: #f5f5f5 !important;
  width: inherit;
}

.ui-autocomplete a.ui-corner-all.sbiAnchor:hover{
    background: blue;
}
#tags {
  background-color: #f5f5f5;
}

.ui-icon.ui-icon-triangle-1-s {
  margin-top: 9.5px !important;
  margin-right: 0 !important;
  width: 13px !important;
  height: 8px !important;
  background-position: 0px 0px !important;
}
li {
  text-align: left !important;
}
.group.selected {
  max-height: 82px !important;
}
tr.cell-column {
  height: 25px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.6px;
}

path.hoverNational {
  stroke-width: 4px !important;
}
path.selectedNational {
  stroke-width: 4px !important;
}

path.hide {
  fill: #000 !important;
  opacity: 0.3 !important;
  stroke-width: 1px !important;
}
#location {
  font-size: 18px;
  font-weight: 700;
  height: 29px;
  text-transform: uppercase;
}

.print-button { 
  height: 45px;
  width: 93px;
  background-color: #000;
  color: #fff;
  position: absolute;
  right: 16px;
  top: 0;
  cursor: pointer;
  text-align: center;
}

.print-button h3 {
  margin-top: 14px;
}

#mobile-print-container .print-button {
  float: left;
  position: relative;
  right: auto
}

#variable-name {
  font-size: 13px;
  font-weight: 600;
  height: 20px;
  text-transform: uppercase;
}
.tick > line {
  stroke: none;
}
.blue {
  color: #12719e;
}
.search-div {
  position: relative;
  height: 90px;
  padding-top: 6px;

}
#bar-mobile-labels{
  display: none;
}
.image-div {
  display: inline-block;
  float: right;
  height: 100%;
}
.image-div img {
  margin-top: 24.5px;
  padding-right: 21.5px;
  width: 17.5px;
  height: 17.5px;
  pointer-events: all;
}
.counties {
  stroke: #f2f2f2;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  cursor: pointer;
}

.state-borders > path {
  fill: none;
  stroke: #f2f2f2;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  cursor: pointer;

}
#notes-section {
  display: none;
  padding: 15px;
  float: left;
}
path.hover {
  stroke: #fdbf11;
  stroke-width: 1.3px;
}

 .counties > path.selected {
  stroke: #fdbf11;
  stroke-width: 1.2px;
}
 .state-borders > path.selected {
  stroke: #fdbf11;
  stroke-width: 1.3px;
}
.background {
  fill: none;
  pointer-events: all;
}

.group-4 > .cell-data > td:nth-child(2), .group-4 .cell-data > td:nth-child(3) {
  opacity: 0;
}
.group-4 > .cell-column > td:nth-child(2), .group-4 .cell-column > td:nth-child(3) {
  opacity: 0;
}

.student.group-4 > .cell-data > td:nth-child(2), .student.group-4 .cell-data > td:nth-child(3) {
  opacity: 1;
}
.student.group-4 > .cell-column > td:nth-child(2), .student.group-4 .cell-column > td:nth-child(3) {
  opacity: 1;
}

.student.group-6 > .cell-data > td:nth-child(2), .student.group-6 .cell-data > td:nth-child(3) {
  opacity: 0;
}
.student.group-6 > .cell-column > td:nth-child(2), .student.group-6 .cell-column > td:nth-child(3) {
  opacity: 0;
}

.left-table2 {
  float: left;
  width: 5px;
}
.pseudo-td {
  width: 1px;
}
table {
  margin-top: 0px;
}
.left-table {
  max-width: 328px;
  margin-top: -7px;
}
.left-table > table {
  margin-top: 20px;
}

.left-table table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.td-table {
  max-width: 328px !important;
  width: 27.4%;
}
.left-table table th {
    padding: 14px 19px 6px 19px;
}
.left-table tbody.selected {
    border-right: 5px solid #fdbf11;
    border-collapse: separate;
    border-spacing: 4px; 

}
.left-table > tbody:hover {
    border-right: 5px solid #fdbf11;
}
.left-table > tbody.selected > tr {
    border-right: 5px solid #fdbf11;
}
.cell-data > td {
   /* width: 24px;*/
}

.cell-data > td:nth-child(2), .cell-column > td:nth-child(2){
}
.cell-data > td:nth-child(1), .cell-column > td:nth-child(1){
  padding-left: 19px;
}
.cell-data > td:nth-child(3), .cell-column > td:nth-child(3){
  padding-right: 19px;
}

th {
  font-family: Lato;
  font-size: 12px;
  text-align: left;
  font-weight: 400;
}
.left-table table thead th {
    background: 0;
/*    background-color: #006D2C;
*/    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    border-left: 1px solid #0070A8;
}

/*.left-table table thead th:first-child {
    border: none;
}*/

.left-table tr.cell-data {
    color: #000000;
    height: 24px;
/*    border-left: 1px solid #E1EEF4;
*/   font-size: 16px;
    font-weight: bold;
}
.left-table table tbody .cell-data > td {
   font-size: 16px;
   width: 84px;
   vertical-align: unset;
}


.left-table tbody {
  border-bottom: 1.1px solid #ececec;
  cursor: pointer;
  border-right: 5px solid #fff;
/*  width: 288px;
*/}
.group-0 {
  border-top: 1.1px solid #ececec;
}
.group.selected, .group.selected td {
  background-color: #000;
  color: #fff;
}

/*tbody.group.selected:hover >  *{
  background-color: #000 !important;
}*/


.group.selected > .cell-data > td  {
    color: #fdbf11;

}


.left-table table tbody td:first-child {
    border-left: none;
    border-left-color: none;
}

.left-table table tbody tr:last-child td {
    border-bottom: none;
    padding-bottom: 14px;
}

.left-table tbody:hover {
    background-color: #696969 !important;
    color: white;
    border-right: 5px solid #fdbf11;

}
.left-table tbody:hover td {
    background-color: #696969 !important;
    color: white;

}

.left-table tbody:hover .cell-data > td {
    background-color: #696969 !important;
    color: #fdbf11;

}
.group-label-ph, .group-label-ph2 {
  font-size: 18px;
  font-weight: bold;
}
#intro-mobile {
  display: none;
  margin: 70px 30px 30px 30px;

}
#dropdown-div {
  display: none;
}

/**DROPDOWN **/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none !important;
  background: #fff !important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: none !important;
  background: #fff !important;
  font-weight: normal;
  color: #2b2b2b;
}
.ui-selectmenu-button.ui-button {
  width: calc(100% - 122px) !important;
  float: right;
}

.dropdown-label {
  float: left;
  font-size: 14px;
  color: #696969;
}

.ui-selectmenu-text {
  font-size: 22px !important;
}

.dropdown-label.disabled {
  color: #d2d2d2;
}
#legend-div{
  display: none;
  height: 65px;
}
.g-legend, .rect-div {
  display: block;
}
@media (min-width : 1201px) {
  .print-button { 
    right: 0px;
  }

  table.main-table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    }

  td.map {
    width: 870px !important;
  }
  td.td-table {
    width: 330px !important;
  }

}
@media (max-width: 1100px) {
  .td-table{
    min-width: 281px !important;
  }
}
@media (max-width: 930px) {
  .td-table{
    min-width: 251px !important;
  }
  ul.tagit li.tagit-new {
    width: 120px !important;
  }
  .tagit-label {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 900px) {
  .td-table{
    min-width: 231px !important;
  }
  .intro-wrap {
    width: 100%;
  }
  #bar-chart{
    width: unset;
  }
  .legend-title {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
  }
  .g-legend, .rect-div {
    display: none;
  }
  #legend-div {
    display: block;
  }
  .left-table table tbody tr:last-child td {
    padding-bottom: 13px;
  }
  .cell-column > td {
    vertical-align: unset !important;
  }
  .cell-date > td {
    vertical-align: unset !important;

  }
  .left-table table th {
      padding: 14px 12px 6px 12px;
  }
  .search-div {
    height: 90px;
  }
  #location {
    font-size: 16px;
  }
  .image-div img {
    padding-right: 10px;
  }

.tagit-label {
  font-size: 12px !important;
}
#location {
  padding-left: 10px;
}
.left-table table tbody .cell-data > td {
  font-size: 13.5px;
}
.cell-data > td:nth-child(1), .cell-column > td:nth-child(1) {
  padding-left: 12px;
  padding-right: 6px;
}
.cell-data > td:nth-child(3), .cell-column > td:nth-child(3) {
  padding-left: 10px;
}
  .td-table {
      width: 25%;
  }
  #isMobile {
    display: block;
  }
  .map-div {
    margin: 20px 0px 30px 0px;
  }
}
#bar-chart {
  padding-left: 10px;
  float: left;
}
@media (max-width: 800px){

  
}

@media screen and (max-width: 700px) {
  .ui-selectmenu-menu .ui-menu {
    max-height: 340px !important;
    overflow: auto !important;
  }
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover{ 
    color: #fff !important;
    font-size: 14px !important;
    background: #000 !important;
    border: solid 1px #d2d2d2 !important;
    font-weight: normal !important;
  }
  #notes-section{
    display: block;
  }
  #legend-div {
    display: none;
  }
  .label > .group-label-ph {
    opacity: 1;
  }
  .bar-group-ph > .group-label-ph2 {
    opacity: 0;
  }
  .g-text-ph {
    display: none;
  }
  .data-label {
    display: none;
  }
  .data-label-ph {
    display: block;
  }
  #bar-mobile-labels{
    float: left;
    width: 15%;
    display: block;
    margin-top: 26px;
  }
  #bar-chart-mobile {
    float: left;
    margin: 26px 30px 20px 5px;
  }
  .ui-selectmenu-text {
    font-weight: bold !important;
  }
  .bottom-container {
    float: left;
  }
  .bottom-content {
    width: calc(100% - 100px)
  }
  #isPhone {
    display: block;
  }
  .ui-button .ui-icon {
    background-image: url("../img/arrow.png") !important;
    background-size: 13px !important;
  }
  .ui-button .ui-icon.greyed {
    background-image: url("../img/arrow-grey.png") !important;
    background-size: 13px !important;
  }
  .ui-button .ui-icon.arrow-up {
    background-image: url("../img/arrow-up.png") !important;
    background-size: 13px !important;
  }

  #dropdown-header-button {
    padding-left: 0px;
  }

  #bar-chart-mobile {
    display: block;
  }
  .y.axis > .tick {
    display: none;
  }
  .dropdown {
    width: 100%;
    box-sizing: border-box;
    float: left;
    padding: 20px 22.7px 20px 15px;
    border-top: 1px solid grey;
    cursor: pointer;
    pointer-events: all;
    background-color: #fff;
  }

  .current-menu {
    box-shadow: none;
    height: unset;
  }

  .current-menu .dropdown-label {    
    padding: 0;
  }

  #dropdown-header-button > span.ui-selectmenu-icon.ui-icon.ui-icon-triangle-1-s {
    margin-top: 9.5px !important;
  }

  .ui-selectmenu-button.ui-button {
    width: calc(100% - 150px) !important;
  }

  #dropdown-header-button {
    color: #454545;
    text-transform: unset;
    width: calc(100% - 150px) !important;
  }

  #dropdown-header-button .ui-selectmenu-text  {
    padding: 0px;
    padding-top: 2px;
  }

  .ui-selectmenu-text {
    font-size: 16px !important;
  }

  h1 {
    font-size: 28px;
  }

  .category-menu {
    border-bottom: 1px solid grey;

  }
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
} 

  #dropdown-div, #topdrop-div {
    display: block;
    float: left;
    width: 100%;
  }
  .ui-icon {
    padding-right: 10px;
  }

  .main-table {
    display: none;
  }
  #intro-mobile {
    display: block;
    float: left;
  }
}

@media screen and (max-width: 550px) {
  .ui-icon {
    padding-right: 0px;
  }

  .label > .group-label-ph {
    opacity: 0;
  }
  .bar-group-ph > .group-label-ph2 {
    opacity: 1;
  }
  .g-text-ph {
    display: block;
  }
  #isPhoneSm {
    display: block;
  }
  #bar-chart-mobile {
    float: left;
    margin: 20px 30px;
  }
  #bar-mobile-labels{
    display: none;
  }
  .intro-wrap {
    width: 100%;
  }
  #intro-text{
    padding: 30px 15px;
    padding-bottom: 45px;
  }

}

@media screen and (max-width: 387px) {
  .appendixButton {
    margin-top: 0px;
  }
}

@media print{
  @page {
    size: portrait !important;
  }

  h1 {
    color: #000;
  }
  h2 {
    color: #000;
  }
  #date {
    color: #000;
  }
/*  .banner-wrapper {
    display: none;
  }*/
  .title {
    display: none;
  }
  .search-div-main {
    display: none;
  }
  .left-table table tbody tr:last-child td {
    padding-bottom: 3px;
  }
  .left-table table th {
    padding: 2px 1px 0px 10px;
  }
  .bottom-content {
    padding-top: 150px;
  }
  .group.selected, .group.selected td {
    color: #000;
  }
  #legend-div {
    height: 20px;
  }
  .map-div {
    margin-left: 10px;
  }
  h1.bottom-header {
    margin-top: 20px;
    font-size: 20px;
  }
  .bottom-text {
    font-size: 13px;
  }
  .credit-header, .credit-names {
    font-size: 13px;
  }
  .bottom-text, .credits-text {
    line-height: 18px;
  }
  .credit-names {
    margin-bottom: 10px;
    margin-top: 5px;
  }
 .bottom-content {
  max-width: 850px;
 }
 .counties {
  stroke-width: 0px;
 }
  path.hide {
    fill: none !important;
    opacity: 0 !important;
    stroke-width: 1px !important;
  }
 #map {
  margin-bottom: 5px;
 }
 .bottom-container {
  border: none;
 }
 #copyright {
  margin-bottom: 0px;
 }
}


.full.logo {
  display: none;
}